<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title of page -->
    <title>Marvel</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style Sheet -->
    <link href="Styles.css" rel="stylesheet">
    <!-- font used on site -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap" rel="stylesheet">

  </head>

  <body>
    {{{ body }}}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/javascript_.js"></script>
    <script type="text/javascript" src="javascript/slim.js"></script>
    <script type="text/javascript" src="javascript/popper.js"></script>
    

<!--JQuery code below if i put any in -->


  </body>
</html>