<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#104BB1;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/wavey_kicks_logo.png" style="max-width:100px; height:100px;" alt="Wavey Kicks Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="auction">Auction 1</a></li>
      <li class="nav-item"><a class="nav-link" href="auction2">Auction 2</a></li>
      <li class="nav-item"><a class="nav-link active" href="auction3" style ="background-color: #707C9B; color: #3936AB; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Auction 3</a></li>
      <li class="nav-item"><a class="nav-link" href="explore">Explore</a></li>
      <li class="nav-item"><a class="nav-link" href="friends">Friends</a></li>
      <li class="nav-item"><a class="nav-link" href="contactus">Contact Us</a></li>
      <li class="nav-item"><a class="nav-link" href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

  <!--Countainer holding columns and rows-->
  <div class="countainer">

<!-- Auction of sneaker -->
      <div class ="row">

       <div class="col-md-12"><img src = "images/of_wh_unc.jpg" width = 100% alt= "Off White UNC Jordan 1">
    <h1>OFF WHITE UNC AIR JORDAN 1 X OFF-WHITE NRG</h1>

    <p id="demo"></p>
        <div class="col1">
          <a href="#" class="btn btn-info" role="button">Add a $1</a><br>
          <br>
          <a href="home" class="btn btn-info" role="button">Got To Home</a> </div>
      </div>
    </div>
      <br>

<h2>Find Us @:</h2>
<center>
<a href="https://www.facebook.com/waveykicks/" class="fa fa-facebook"></a>
<a href="https://twitter.com/waveykicks/" class="fa fa-twitter"></a>
<a href="https://www.instagram.com/waveykicks/" class="fa fa-instagram"></a>
<a href="https://www.snapchat.com/waveykicks/" class="fa fa-snapchat-ghost"></a>
</center>