<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

<div class ="row">

       <div class="col-md-12"><img src = "images/blackwidowp.jpeg" width = 100% alt= "Black Widow">
    <h1>Black widow</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>

    <h3>Background</h3>

    <p>Natalia Alianovna Romanoff was born in 1984 in Stalingrad. At a young age, either while living an orphaned life on the streets or being raised by the state, Romanoff was recruited into the KGB by General Dreykov.
       At a Red Room Academy, she endured both an education and indoctrination into the world of spy-craft. Romanoff became the star pupil in in this strict training environment and soon became regarded as a master spy and one of the world's greatest assassins. 
       Whilst in the Red Room Academy, she excelled in her marksman skills, which resulted in her being forced to execute an innocent man, which would later haunt her.
    <br>
    <br>
       Romanoff's ruthless effectiveness in later years earned her the Black Widow mantle, deriving from the Red Room program she went through. As a final ceremony to complete her training, Romanoff was sterilized, as to avoid any distractions and focus solely on her missions, something she deeply regretted later in her life.</p>
    
    <h3>Personality</h3>
    
    <p>The entirety of Romanoff's character was hard to distinguish based on how she tricked and lied to people for a living. She was capable of convincingly portraying friendly and flirtatious, timid, vulnerable, and scared. 
    For the most part, she was a level-headed, strong-willed, and independent woman. Romanoff normally maintained a controlled, almost emotionless persona to keep whatever she was thinking a secret unless she was around people she absolutely trusts. 
    Although she was more than willing to rush into deadly battle and other unnerving missions for S.H.I.E.L.D., she was not completely fearless, as she was visibly frightened of Hulk. However, she was no longer afraid of him due to falling in love with Bruce Banner.
    <br>
    <br>
    Though a very serious agent, Romanoff was by no means stuffy and has a sarcastic sense of humor, which mostly surfaces when she was with Captain America or Hawkeye, both of whom she was comfortable around. Romanoff was very smart and loyal which was displayed when she made good on the debts she owed Barton and Rogers (saving the former from Loki's mind control and trying to protect the latter during a highway assault). 
    While tough and at times ruthless, she was still a good person and can be quite heroic in her own right. These qualities are usually brought out by her other Avengers, mainly her missions with Steve Rogers. 
    And no matter how injured she was in battle, Romanoff will go out her way to make sure bystanders are out of harm's way (keeping several S.H.I.E.L.D. agents away when Banner was transforming into Hulk, helping Hawkeye evacuate civilians when the Chitauri attacked Manhattan, and risking her life to make sure innocent people weren't shot by the Winter Soldier when he was chasing her). Her close loyalty to both Rogers and Barton was shown in the Avengers Civil War, as she was willing to aid their faction despite being forced to go on the run from the United Nations afterward. 
    As a result of her childhood, she considered the Avengers her family, being desperate to keep them together when the Sokovia Accords were due to be signed and was affected when Tony Stark denounced her as a friend and made it clear he would not help her in the future. She was further shocked and saddened when Barton following the loss of his family became more ruthless and violent when she encountered him in Tokyo.</p>

    <h3>Abilites</h3>

    <p>Master Spy: Romanoff was a dangerous secret agent highly skilled in espionage, stealth, disguise, infiltration, and demolitions. Her talents and years of experience have enabled her to reach a high ranking as a special agent of S.H.I.E.L.D. 
        Romanoff is well versed in internal destabilization and was soon deemed a threat to global security because of this. She often resorts to seducing men to obtain her goals while working undercover, such as when she posed as an assistant to evaluate Tony Stark for the Avengers Initiative. 
        Romanoff's skills were so legendary that Nick Fury created a Lie Detector that he hoped she could not deceive. Her incredible talents for deception also enabled her to detect when others were lying, such as when she was able to discern that Captain America was lying to her about not knowing why Nick Fury was at his apartment. 
        Councilwoman Hawley even stated that she was unaware Romanoff was Russian due to her complete lack of an accent, stating she sounded perfectly American. </p>
    <br>
    <br>
    <p>Master Martial Artist: Romanoff was one of the best fighters in the world, having been trained from a young age in the Red Room and S.H.I.E.L.D. in her later life as a top operative. During her time in the Red Room, she was seen using her martial arts to defeat a grown man by swinging his head into the corner of a desk, proving how formidable she was even when she was young. 
        She was extremely skilled in the field of martial arts, having mastered arts such as sambo, hapkido, Lucha libre-style wrestling, Krav Maga, multiple styles of kung fu, wing chun, Taekwondo, and kali with her batons. Romanoff has efficiently taken down many enemies, such as a squadron of armed soldiers after being ambushed in a hotel room, multiple Hammer Industries security guards, Georges Batroc's armed pirates, several members of STRIKE, Chitauri aliens, Ultron Sentries, and Outriders. 
        She was skilled enough to be able to defeat a mind-controlled Hawkeye, maintain the upper hand against Ant-Man, and even hold her own against the much stronger Winter Soldier, though he was able to bring her down in the end. Black Widow also managed to compete with Proxima Midnight alongside Okoye, even managing to disarm her with her baton, holding her off long enough for Wanda to kill her. In addition, she had enough skill to stab Corvus Glaive using Proxima Midnight's spear.
    <br>
    <br>
    <p>Spear Mastery: Romanoff shows great skill in the use of a spear in close combat, she was seen wielding a Chitauri staff to battle the Chitauri. She was also skillful enough to use Proxima Midnight's spear to almost kill Corvus Glaive. 
        Romanoff also combined her batons into a staff to battle Proxima Midnight, using it to defend and attack simultaneously. </p>
    <br>
    <br>
    <p>Staff Mastery: Romanoff possessed tremendous skill in using a staff, demonstrating her prowess during the Battle of Wakanda to fight against Proxima Midnight.</p>
    <br>
    <br>
    <p>Master Acrobat: Romanoff was highly skilled in incorporating gymnastics and acrobatics into her fighting style as she battles opponents. During her fight within Hammer Industries Headquarters, Romanoff used these skills to defeat the guards. During the Chitauri Invasion, she got to ride a Chitauri Chariot by using her acrobatics to commandeer it.</p>