<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

  <!--Countainer holding columns and rows-->
  <div class="countainer">

<!--Biography of Captain America -->
  <div class ="row">

       <div class="col-md-12"><img src = "images/captainamericap.jpeg" width = 100% alt= "Captain America">
    <h1>Captain America</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>

    <h3>Background</h3>

    <p>Steve Rogers was born on July 4, 1918, to Sarah and Joseph Rogers in New York City. Before Rogers had been born, his father was confirmed to have been killed in action in World War I. 
      Rogers lived with his mother in Hell's Kitchen. Rogers was playing with his toy soldiers when he was suddenly called by his mother, who was terminally ill due to the tuberculosis she contracted while in the hospital where she worked. 
      Realizing the resemblance between Rogers and his father, Sarah guessed that his son would like to be a soldier just like his father, but that many people would say that he could not because he was in poor health. However, his mother reminded his son that although his body appeared fragile, he had a heart ten times his size and made him promise that whatever his dream, he would use his head to stay out of trouble. 
      Rogers agreed, would remember in the years to come.
    <br>
    <br>
      In Hell's Kitchen years later, Rogers became involved in a fight with a group of bullies, who demanded a fee for crossing Tenth Avenue. Despite his physical and numerical disadvantage, Rogers refused to pay, and the thugs began beating him until another boy arrived and began defending him because he was tired of seeing the thugs stealing money from small children like Rogers. 
      Rogers helped his rescuer in battle by hitting one of the bullies with a circular trash can, and the bullies fled the alley. The boy was inspired to face the aggressors by following Rogers introduced himself as James Buchanan Barnes, although his friend called him "Bucky."</p>

    <h3>Personality</h3>

    <p>Considered by many as the world's first and greatest superhero, Steve Rogers has been defined by his courage, patriotism, and righteousness. Rogers has always had a noble and honest spirit, intolerant towards injustice and abuses of power. 
      Since he grew up weak and small, he learned on his own that true strength is having the courage to fight against abuse, no matter one's power, and having compassion for the innocent. Despite being transformed into a perfect human by the Super Soldier Serum, he maintained his original values and character. 
      Since his reawakening, Rogers was saddened by losing so much of his time, but still retains the same values he had since the 1940s. Due to his famed past exploits and his continued works to save the world, Rogers is generally respected by many; even if he doesn't seek acknowledgment for his deeds. 
      He was also very empathetic; being able to understand and relate to both Scarlet Witch and Quicksilver before meeting them and understanding Tony Stark's motivation during the Avengers Civil War, despite Iron Man being on the opposing side. He also conceded that Tony had very good reasons not to join the Time Heist and openly said he was happy that his friend had finally found the peace that he'd so desperately wanted.</p>

    <h3>Superpowers</h3>

    <p>Artificially Enhanced Physiology: The Super Soldier Serum enhanced all of Rogers' bodily functions, such as his strength, durability, speed, agility, stamina, reflexes, senses, healing, and lifespan to superhuman levels. He is very muscular, athletic and physically capable. 
      The Super-Soldier Serum also healed all of his ailments, physical and genetic imperfections instantly, giving him a perfect body better than that of a man in his physical prime.
    <br>
    <br>
      Enhanced Intelligence: Rogers' mental performance has been greatly enhanced to operate in the most efficient and rapid manner possible. Some manifestations of this are his exceptionally perfect charisma, eloquence, leadership skills, deductive/analytical skills, and tactical genius. 
    <br>
    <br>
      Enhanced Strength: Rogers' physical strength is enhanced to superhuman levels. His strength allows him to physically overpower elite-trained humans, extraterrestrial troops, and robot sentries.
    <br>
    <br>
      Enhanced Durability: Rogers' bones and muscles are denser and much harder than average humans, which makes him incredibly durable. Though he is not bulletproof, he can survive extreme blunt force trauma, such as being hit with solid objects like his own shield, or contact with superhuman opponents like Loki, the Winter Soldier, and the Red Skull.
    <br>
    <br>
      Enhanced Speed: Rogers can run and move at speeds beyond the peak of human potential. He can catch up to or outrun speeding vehicles and cover a small area such as city blocks in seconds as well. Sam Wilson stated that Rogers ran thirteen miles in thirty minutes after their warm-up jogging.</p>

