<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>

<div class ="row">

       <div class="col-md-12"><img src = "images/hawkeyep.jpeg" width = 100% alt= "Hawkeye">
    <h1>Hawkeye</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>

    <h3>Background</h3>

    <p>Barton was hand-picked by Nick Fury for his skills, becoming one of S.H.I.E.L.D.'s most skilled agents. Barton had only told Fury of his relationship with Laura, so Fury excluded her from Barton's S.H.I.E.L.D. files in order to protect them, as well as setting up a farmhouse for the couple in Missouri. 
      Barton and Laura had two children, Cooper and Lila, who were raised in secrecy at the farmhouse. During one of his missions for S.H.I.E.L.D., Barton had been targeted for assassination by Marcus Scarlotti, who came closer than anyone else to killing Barton, although he had still failed.</p>
    <br>
    <br>
    <p>During Hawkeye's time as an agent of S.H.I.E.L.D., an assassin who was known as the Black Widow appeared on the organization's radar as she had become a potential threat to global security. Hawkeye was assigned to Russia, where he would carry out the assassination of Black Widow. However, once Hawkeye had tracked down Black Widow and confronted her, he saw her true potential and instead of killing her, recruited her into S.H.I.E.L.D.. 
      Hawkeye would discover Black Widow's true name, Natasha Romanoff, and the two would work closely.</p>
    <br>
    <br>
    <p>Romanoff was then seen as Barton's counterpart and the relationship between the two developed into a lasting partnership, as they became best friends while continuing to work together as S.H.I.E.L.D.'s top agents. Together, they would arrange their missions in Budapest, Abidjan and elsewhere. 
      The pair grew so close that Romanoff became the only other person Barton told about his family. She became a good friend to them, even adopting an aunt-like relationship with Barton and Laura's two children. 
      In return, Romanoff also told Barton about her past life with the Red Room and as an assassin.</p>
    
    <h3>Personality</h3>

    <p>Clint Barton is a brave operative with a deadpan focus; dedicated to his job of protecting the innocent. Through his years of being with S.H.I.E.L.D., Barton had made himself one of their best soldiers, tacticians, and marksmen, and had shown great loyalty and dedication to whatever his objective is, and always gets the mission done, as he will fight until the end and then keep fighting. 
      However, despite this commitment, Barton has proven himself to be a maverick, disobeying orders in order to do what he believes is right as well as seeing through whatever he does his own way. When Phil Coulson gave Barton orders to use a gun to take aim at Thor but he chose to grab a bow, his signature weapon, as he knew that he is at his best with it.</p>
    <br>
    <br>
    <p>However, two people Barton has ultimately shown to follow completely are Nick Fury and Steve Rogers due to their qualities he holds to value. He admires Fury's clear line of sight, something Barton maintains in situations and respects Rogers' ability to always fight for what is right. 
      This is why Barton, even while under the influence of Loki, managed to spare Fury, and chose to help Rogers during the Avengers Civil War. In addition to this, Barton trusts Rogers' leadership of the Avengers and performs as the ideal soldier in battle, following his orders and strategies, as seen when he took the Regeneration Cradle to Avengers Tower, despite wanting to save Black Widow, and requesting for Rogers' plan during the Battle of Earth when he was protecting the Nano Gauntlet.</p>
    <br>
    <br>
    <p>Though commonly misjudged and underestimated as one of the most underpowered Avengers, with his ability to blend in with his environment, his stoic professionalism, and ability to see and assess from afar, Barton is often valued by his superiors for his ability to keep an eye on people and assess situations. For this, he was able to figure out that the Tesseract could be activated from another location, as well as know the weaknesses of the Avengers and how to exploit it when under Loki's influence. 
      He was also able to stay alert and level headed during the Battle at the Salvage Yard and not succumb to the effects of the Scarlet Witch, unlike the other Avengers, who were easily subdued due to their more reckless approach.</p>
    
    <h3>Abilities</h3>

    <p>Master Marksman: Hailed as the world's greatest marksman, Barton is an outstanding all-around marksman, tremendously skilled in wielding both conventional firearms and archery bows with unerring accuracy due to his keen eyesight and impeccable hand-eye coordination. Barton is capable of firing multiple arrows in a few seconds, strike enemies' weak points with extreme accuracy and directly hit small targets in the greatest of distances, even precisely shoot down a Chitauri Chariot without even looking at it. 
      Barton was able to aim and hit many Chitauri troopers and Ultron Sentries in the head. Barton is a left-handed bowman, meaning he holds the bow with his right hand and draws the string with his left. 
      Barton sometimes uses a Wristbow, which he has been shown to wear on either arm. Barton is also able at throwing any projectile with the same unerring accuracy, as seen with Barton scoring a bullseye with three darts simultaneously thrown without effort and perfectly throwing Captain America's shield with similar precision. 
      Barton also used shuriken when going under a samurai-inspired guise, taking down enemies at long range. During his retirement, he often played golf where he claimed to hit a hole-in-one every single time, proving that he is also able to make perfect shots with projectiles that don't require throwing or shooting.</p>
    <br>
    <br>
    <p>Master Assassin: Barton is one of S.H.I.E.L.D.'s greatest assassins, having once been assigned to kill Black Widow, a notorious master assassin in her own right, and was assigned to be a special agent in S.H.I.E.L.D.'s investigation of the item that was found in New Mexico, having been able to neutralize Thor in the event that Phil Coulson had ordered it. Barton was also able to fight off other assassins such as Marcus Scarlotti, who made a name for himself just by coming close to killing him. 
      While under Loki's mind control, Barton stealthily eliminated the armed security guarding the museum in Stuttgart holding Iridium. Barton also swiftly killed many Chitauri, HYDRA operatives, Ulysses Klaue's mercenaries, Ultron Sentries, and Outriders. After his family's death, Barton dedicated himself to using his ability to murder any criminals that survived the Snap. 
      Barton was able to eliminate a whole gang of Mexican Cartel gangsters without them even being able to pull out their guns in retaliation, a feat which Romanoff initially believed to be the work of an entire rival gang. He was even able to take down numerous enemies who were all firing at him when he targeted the Yakuza, showing his skill in weapons other than archery, such as throwing stars and swords. 
      Barton's killing instinct frightened James Rhodes to the point where he reconsidered trying to find him. Ultimately, he proved his worth alongside the Avengers one last time by effectively killing several Outriders after Thanos demolished the New Avengers Facility.</p>
    <br>
    <br>
    <p>Master Martial Artist: Barton is an excellent hand-to-hand combatant, having been extensively trained in various forms of martial arts as an agent of S.H.I.E.L.D. His fighting style appears to be composed of eskrima, muay thai, judo, taijutsu, kenjutsu, and shurikenjutsu. 
      When brainwashed by Loki, he could fight the extremely skilled Black Widow to a standstill, only losing when the latter resorted to guerrilla tactics to best him in combat. He could swiftly incapacitate Scarlet Witch in close quarters, successfully avoiding her mind manipulation powers. 
      In the Avengers Civil War, he later fought evenly against Black Widow again and was able to swiftly pin her down, but it should be noted that Scarlet Witch interrupted their duel and called Barton out on pulling his punches. He also managed to temporarily hold his own against the considerably stronger Black Panther during the airport fight. 
      Barton also managed to bring down many Chitauri troops and Ultron Sentries while fighting alongside the other Avengers, using his bow and arrows as melee weapons for close quarters. After the Snap, Barton began using a katana, which he integrated seamlessly into his fighting style, and considerably improving his efficiency in close range combat, and demonstrated prowess enough to kill Outriders with it.</p>
    <br>
    <br>
    <p>Knife Mastery: Barton is proficient with knives in close combat, fighting against the skilled Black Widow with his custom dagger. According to his S.H.I.E.L.D. file, he is also trained in throwing knives. 
      Barton can use similar weapons, such as improvising knives with arrows as stabbing weapons, as well as his collapsible shuriken.</p>
    <br>
    <br>
    <p>Sword Mastery: Barton demonstrated a considerable skill with a sword when he went under a samurai-inspired guise. Barton was able to fight on par with Akihiko and easily kill him, as well as a slice in half several Outriders who were going after him at a rapid rate.</p>
    <br>
    <br>
    <p>Expert Acrobat: Barton is highly athletic and agile, capable of complex acrobatic maneuvers. Barton was able to react and successfully evade Loki's attacks by jumping out of the way before it hit him. 
      He could also fire a grappling hook arrow and swing through a window, deftly flip off the roof of a car and over an Ultron Sentry, and fire an arrow while jumping backward. During the airport battle, Barton evaded a blast from War Machine mid-air after jumping and rolling onto storage crates. 
      When the New Avengers Facility was attacked, Barton was able to fight off all of the Outriders while scaling upwards, jumping off the walls and even turning and slicing one in half while in mid-air.</p>

