<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#104BB1;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/wavey_kicks_logo.png" style="max-width:100px; height:100px;" alt="Wavey Kicks Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link active" href="Home" style ="background-color: #707C9B; color: #3936AB; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="auction">Auction 1</a></li>
      <li class="nav-item"><a class="nav-link" href="auction2">Auction 2</a></li>
      <li class="nav-item"><a class="nav-link" href="auction3">Auction 3</a></li>
      <li class="nav-item"><a class="nav-link" href="explore">Explore</a></li>
      <li class="nav-item"><a class="nav-link" href="friends">Friends</a></li>
      <li class="nav-item"><a class="nav-link" href="contactus">Contact Us</a></li>
      <li class="nav-item"><a class="nav-link" href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

  <!--Countainer holding columns and rows-->
  <div class="countainer">

<!-- Intro to Website -->
      <div class ="row">

       <div class="col-md-12"><img src = "images/supreme_jordan_5.jpg" width = 100% alt= "Supreme Jordan 5">
    <h1>Welcome Sneaker Heads</h1>
        <div class="col1">This website is all about giving you guys a fighting chance to get the shoe you like without having to enter raffles or any drawings where most of the time you never get chosen. At Wavey Kicks we like to give our customers a fighting chance to snag thoughs fire kicks you always wanted without having to worry about people getting first dibbs on shoes cause they work at the place. How it works is you can either join the live auctions happening now or you can sign up to add a maximum of three shoes you would like to buy to get a notification when that auction is live. Once you enter a live auction the bids starts at 0 and raises increments of $1 untill the hour time limit ends. The last person who throws in that $1 gets the shoe and than the auction continues on until that shoe size is no longer avaliable and there is no more shoes in the inventory. It is as simple as that to get a better fighting chance than getting that email saying you werent selected and nobody wants to see that. You can also create a profile to use to store your shoes and clothes for selling or trading amoung friends or people you meet on this website. The choose is yours :)!
        <br>
        <br>
        Click here to <a href="signup" class="btn btn-info" role="button">Sign Up</a><br><br> Already a member click here to <a href="login" class="btn btn-info" role="button">Login In</a> </div>
      </div>
    </div>
      <br>
      
    
      
<!--First shoe auction slide show -->
<!--First shoe auction slide show -->
<h1>ZEBRA YEEZY BOOST 350 V2</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators5" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/ze_ye_350.jpg" class="d-block w-100" alt="Zebra Yeezy Boost 350 V2 Side">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/ze_ye_350s.jpg" class="d-block w-100" alt="Zebra Yeezy Boost 350 V2 Front Side">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/ze_ye_350u.jpg" class="d-block w-100" alt="Zebra Yeezy Boost 350 V2 Bottom">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Join Auction-->
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="auction" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Join Auction</a>
</div>
</div>
<br>
<br>

  <!--Second shoe auction slide show -->      
  <h1>COOL GREY AIR JORDAN 11 RETRO</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators6" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/co_gr_11.jpg" class="d-block w-100" alt="Cool Grey Air Jordan 11 Side">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/co_gr_11s.jpg" class="d-block w-100" alt="Cool Grey Air Jordan 11 Front Side">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/co_gr_11u.jpg" class="d-block w-100" alt="Cool Grey Air Jordan 11 Bottom">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators6"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators6"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Join Auction-->

</div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a href="auction2" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Join Auction</a>
</div>
<br>
  <br>

<!--Third shoe auction slide show --> 
<h1>OFF WHITE UNC AIR JORDAN 1 X OFF-WHITE NRG</h1>

<!-- Indicators -->
<div id="carouselExampleIndicators7" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/of_wh_unc.jpg" class="d-block w-100" alt="Air Jordan 1 Off White Unc Side">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/of_wh_uncs.jpg" class="d-block w-100" alt="Air Jordan 1 Off White Unc Front Side">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/of_wh_uncu.jpg" class="d-block w-100" alt="Air Jordan 1 Off White Unc Bottom">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators7"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators7"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Join Auction-->
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="auction3" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Join Auction</a>
</div>
<br>
  <br>

<h2>Find Us @:</h2>
<center>
<a href="https://www.facebook.com/waveykicks/" class="fa fa-facebook"></a>
<a href="https://twitter.com/waveykicks/" class="fa fa-twitter"></a>
<a href="https://www.instagram.com/waveykicks/" class="fa fa-instagram"></a>
<a href="https://www.snapchat.com/waveykicks/" class="fa fa-snapchat-ghost"></a>
</center>