<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#104BB1;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home" style ="background-color: #707C9B; color: #3936AB; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

  <!--Countainer holding columns and rows-->
  <div class="countainer">

<!-- Intro to Website -->
      <div class ="row">

       <div class="col-md-12"><img src = "images/avengers.jpeg" width = 100% alt= "Avengers">
    <h1>Welcome Marvel Heads</h1>
        <div class="col1">This website is all about marvel and the avengers and strickly fan based blog. It goes into detail about each heros background, superpowers, personalities, and more. We hope you enjoy your stay and learn more about what it takes to be a hero. If you are a DC fan you can click the x mark in the top corner of the website you will not be missed. The choose is yours :)!
        <br>
        <br>
        <!--Implement the database where they can search different things-->
      </div>
    </div>
      <br>
      
    
      
<!--Ironman slide show -->
<h1>IRON MAN</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators5" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/ironman1.jpeg" class="d-block w-100" alt="Iron Man 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/ironman2.jpeg" class="d-block w-100" alt="Ironman 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/ironman3.jpeg" class="d-block w-100" alt="Ironman 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Iron Man Page-->
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="ironman" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Iron Man</a>
</div>
</div>
<br>
<br>

  <!--Thor slide show -->      
  <h1>THOR</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators6" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/thor1.jpeg" class="d-block w-100" alt="Thor 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/thor2.jpeg" class="d-block w-100" alt="Thor 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/thor3.jpeg" class="d-block w-100" alt="Thor 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators6"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators6"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Thor Page-->

</div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a href="thor" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Thor</a>
</div>
<br>
  <br>

<!--Captain America slide show --> 
<h1>CAPTAIN AMERICA</h1>

<!-- Indicators -->
<div id="carouselExampleIndicators7" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/captainamerica1.jpeg" class="d-block w-100" alt="Captain America 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/captainamerica2.jpeg" class="d-block w-100" alt="Captain America 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/captainamerica3.jpeg" class="d-block w-100" alt="Captain America 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators7"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators7"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Captain America Page-->

</div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a href="captainamerica" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Captain America</a>
</div>
<br>
  <br>


<!--Hulk slide show -->
<h1>HULK</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators8" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/hulk1.jpeg" class="d-block w-100" alt="Hulk 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/hulk2.jpeg" class="d-block w-100" alt="Hulk 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/hulk3.jpeg" class="d-block w-100" alt="Hulk 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators8"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators8"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Hulk Page-->
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="hulk" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Hulk</a>
</div>
</div>
<br>
  <br>


<!--Black Widow slide show -->
<h1>BLACK WIDOW</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators9" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/blackwidow1.jpeg" class="d-block w-100" alt="Black Widow 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/blackwidow2.jpeg" class="d-block w-100" alt="Black Widow 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/blackwidow3.jpeg" class="d-block w-100" alt="Black Widow 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators9"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators9"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Black Widow Page-->
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="blackwidow" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Black Widow</a>
</div>
</div>
<br>
<br>


<!--Hawkeye slide show -->
<h1>HAWKEYE</h1>
<!-- Indicators -->
<div id="carouselExampleIndicators4" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Slide 1 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/hawkeye1.jpeg" class="d-block w-100" alt="Hawkeye 1">
    </div>
  <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="images/hawkeye2.jpeg" class="d-block w-100" alt="Hawkeye 2">
    </div>
  <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="images/hawkeye3.jpeg" class="d-block w-100" alt="Hawkeye 3">
    </div>
  </div>
  <!-- Previous/Next controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Go to Thor Page-->

</div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a href="hawkeye" class="btn btn-info" role="button" style= "margin-top: 25px; font-family: 'Gochi Hand', cursive;">Hawkeye</a>
</div>
<br>
  <br>
