<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends -->

<!--Countainer holding columns and rows-->
  <div class="countainer">

<!--Biography of Hulk -->
  <div class ="row">

       <div class="col-md-12"><img src = "images/hulkp.jpeg" width = 100% alt= "Hulk">
    <h1>Hulk</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>

    <h3>Background</h3>

    <p>Robert Bruce Banner was born on Thursday, December 18, 1969. As he grew up, he started going by his middle name. 
        During his youth, Banner had an estranged relationship with his father Brian, believing that he was never able to impress him. Banner met Betty Ross while in college, where they fell in love. At Harvard University, the couple participated in an experiment involving hallucinogens.
    <br>
    <br>
    <p>They soon graduated and moved on to Willowdale, Virginia, while working together at Culver University as instructors, where Banner specialized in nuclear physics, biochemistry, and was a member of the Bio-science Department. During his tenure, Banner met astrophysicist Erik Selvig, one of the university's instructors. 
        During that time, Banner was involved in a praised work on anti-electron collisions and gamma radiation, becoming one of the foremost geniuses of his entire generation. While working on his gamma ray experiments, Banner was unable to visit his father, and ultimately missed his passing.
        Throughout his career, Banner obtained seven Ph.Ds. </p>
    
    <h3>Personality</h3>
    
    <p>Bruce Banner is shown as a mild-mannered, mysterious, shy and analytical man of science. The incident at Culver University caused Banner to become somewhat mentally troubled and obsessed with finding a cure for his mutation. 
        He is compassionate and afraid of hurting someone unintentionally, so he tries not to get close to something or someone that leaves him stressed. </p>
    <br>
    <br>
    <p>In turn, Hulk is more primitive with his senses amplified to such an extent that it is difficult for his brain to process it all. In Banner's own words, he describes the experience as "It's like someone poured a liter of acid into my brain." 
        When Banner returns to his normal human form, he has little recollection of events aside from fragments and images. In his earliest transformations, Hulk appeared as a simple-minded savage with no real ability to distinguish friend from foe. 
        Because of this, he was responsible for the deaths of two scientists, an army officer, a police officer from Idaho, and two Canadian hunters when he was a fugitive. However, while extremely aggressive and destructive, Hulk only attacked when provoked as a form of self-defense and wanted to be alone, often fleeing and ending up in areas uninhabited by humans like caves or forests to calm himself. </p>
    <br>
    <br>
    
    <h3>Superpowers</h3>
    
    <p>Artificially Enhanced Physiology: Bruce Banner subjected himself to a recreated version of the Super Soldier Serum in an attempt to develop a result similar to the original Project Rebirth from World War II, albeit substituting vita radiation with gamma radiation. As a result, Banner is able to transform into Hulk when his heart rate increases to high levels or when he loses control of his emotions. 
        And as Hulk, Banner is a giant green-skinned humanoid with immense strength fueled by his rage, meaning the angrier he gets the stronger he becomes, and is one of the most powerful beings on Earth.
    <br>
    <br>
        Superhuman Strength: Hulk's primary power is his immense superhuman strength. His incredible high-level of superhuman strength allows him to rip steel apart as if it were made of paper, to break vehicles with a single punch, stop a speeding Humvee in its tracks by stomping it into the ground, injure and halt a massive Leviathan with a single punch, do a powerful thunderclap to stop a military helicopter from blowing up, or catch a HYDRA tank struck by Thor during the Avengers assault on the HYDRA Research base in Sokovia and proceeded to throw it at a considerable distance as well.
    <br>
    <br>
        Super Leaping: Hulk's strength also extends to his legs, allowing him to leap great distances or great heights with precision, such as when reached the top of Stark Tower from ground level in a single leap. Carrying Black Widow on her back, Hulk was able to make enormous jumps through the air, reaching the flying city of Novi Grad. 
    <br>
    <br>
        Superhuman Durability: Hulk is able to withstand blows and attacks of considerable force; even high caliber bullets bounce off him and flames cause him no damage whatsoever. His bone, skin, and muscles have an extreme density and he possesses a high degree of resistance to injury, pain, and disease.
    <br>
    <br>
        Regenerative Healing Factor: Should he receive damage that penetrates his extreme durability, his biology has a very high rate of cellular regeneration. Grievous bodily harm has also proven to be a trigger for Banner's transformations, and he has recovered from otherwise fatal injuries sustained in his normal form. </p>