<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->
  <!--Countainer holding columns and rows-->
  <div class="countainer">

<!-- Biography of Ironman -->
      <div class ="row">

       <div class="col-md-12"><img src = "images/ironmanp.jpeg" width = 100% alt= "Ironman">
    <h1>Ironman</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>
    <h3>Background</h3>

    <p>Anthony Edward "Tony" Stark was born on Friday, May 29, 1970, in Manhattan, New York City, to Howard and Maria Stark. Stark had become good friends with Edwin Jarvis, the butler of the Stark family, who watched over him throughout all of his childhood. 
      Stark's early life was often dominated by the absence of his father, who he would later describe as both 'cold' and 'calculating'. Growing up, Stark had issues with Howard, who never told his son that he loved, or even liked him. 
      Since Stark was so young, Howard couldn't tell his son his plans for him. Howard would constantly talk about his admiration for Captain America, which caused Stark to develop hatred and resentment towards the super soldier. 
      However, Stark had a loving relationship with his mother, who was more gentle and nurturing; he enjoyed hearing Maria play the piano.
    <br>
    <br>
      At a young age, Stark quickly stole the spotlight with his brilliant and unique mind. When he was four years old, he designed his first circuit board. 
      When he was almost seven, he built a V8 motorbike engine. One thing about Stark's childhood that annoyed him was the nanny who cared for him until he was fourteen. 
      Stark attended Phillips Academy in Andover from 1977 to 1984. While, he was in high school, Stark hacked into the Pentagon on a dare by some friends. 
      He was admitted early into Massachusetts Institute of Technology, where he met James Rhodes and they became lifelong best friends. At sixteen, Stark won the 4th Annual MIT Robot Design Award. 
      When he was seventeen, Stark graduated summa cum laude from MIT.</p>

    <h3>Personality</h3>

    <p>Many people in the media thought that Tony Stark was only just an egocentric playboy. As an adult, he was renowned for being casually arrogant, apathetic, callous, and a hedonist who enjoyed the finer things in life, namely drinking, gambling, partying and flirting. 
      However, it is shown that Stark did care for people, especially his friends. Although Stark causes trouble on occasion, he is more than willing to make up for his mistakes, which is also why he became a superhero. 
      Eccentric, brilliant, outgoing and cocky, Stark was a classic playboy, with his wealth, power, and natural charm allowing him to get just about any woman he wants. But despite his rather carefree and overly confident personality, inside Stark's heart lied loneliness, as Ho Yinsen aptly described him as: "A man that has everything, but has nothing." 
      Even following his reformation and birth as Iron Man, this stigma surrounding Stark persisted as many were quick to point fingers at him believing his arrogance and callous attitudes were the cause of many problems even if he would have only a tenuous connection to the issue at hand.
    <br>
    <br>
      Before his kidnapping, Stark was a self-centered, arrogant person who didn't truly care for many people other than his closest friends. Even during this period of his life, he had a moral code believing the weapons he developed were being used exclusively by the United States and its allies for peaceful purposes but never caring enough to actually look too deeply into his company's dealings. 
      He also funded large humanitarian inventions and programs via his arms dealings, something he felt justified manufacturing weapons.</p>
    
    <h3>Superpowers</h3>

    <P>Flight: One of the armor's most important features was its propulsion system and subsequent ability of flight. The armor could reach speeds as high as Mach 3 in moments. 
      It also had variable control surfaces for active flight control by J.A.R.V.I.S. to automatically stabilize the armor in flight. The armor was able to fly at speeds more than fifteen hundred miles per hour. 
      However, the armor showed it could fly at supersonic speeds at the drop of a hat. By the time of the Battle of New York, the Mark VII armor's flight system was improved with additional boosters on the back. 
      It enabled the armor to quickly evade enemy attacks, go faster, and also the ability to better maneuver himself and shoot while in flight; due to the fact that he didn't have to use his hands to keep himself stabilized all the time. He was able to reach Tennessee from California in a matter of a few hours.
    <br>
    <br>
      Superhuman Strength: When inside the armor, it amplified the user's physical strength, allowing Iron Man to lift in excess of sixty tons. Most armors were strong enough to lift and bench press tanks, S.H.I.E.L.D. Lifeboats or cars. 
      Iron Man was also able to fight Ultron's second robotic body, and, when his strength was temporarily boosted by Mjølnir's lightning; increasing his suit's power to over four hundred percent capacity. Iron Man was able to hold his own against the mighty Asgardian Thor himself. 
      A unique feat of strength was when Iron Man pushed and jump-started one of the rotors of the S.H.I.E.L.D. Helicarrier while in the Mark VI.
    <br>
    <br>
      Superhuman Reflexes: While not on par with that of someone with genuine superhuman speed and reflexes like Spider-Man, Iron Man's armors nonetheless had motors for movement, and they were shown to be extremely fast and responsive both in flight and during combat, even against physically enhanced opponents such as Captain America or the Winter Soldier. The suit's coordination and dexterity allowed the user to easily maneuver themselves and change directions with great ease during flight.
    <br>
    <br>  
      Armor Systems: The armor had remote assistance from J.A.R.V.I.S. or F.R.I.D.A.Y., who managed the armor's systems at Stark's command, and the armor also had a holographic HUD with heads-up displays for navigation, power level, armor status, weapons systems, vital signs with cellphone and computer connections in the helmet, and a built-in loudspeaker. The armor was powered by a miniature Arc Reactor and has an onboard generator for emergencies. 
      The scanner systems were capable of scanning the environment, weather conditions, and equipment for information.
    <br>
    <br>
      Energy Conversion Power Recharge: The armor was able to absorb and convert energy sources, such as heat, kinetic energy or energy from the planet itself into electricity, directly into the batteries for recharge. Thor struck it with a full lightning blast from Mjølnir, but Stark was amazed to find that all it did was charge up the suit to 475%, allowing him to use a powerful repulsor blast and increase his strength substantially enough to give Thor a decent fight. 
      Iron Man and Thor intentionally replicated this technique with the former's most advanced armor and Thor using both Mjølnir and Stormbreaker in the final battle against Thanos.
    <br>
    <br>
      Self-Contained Life-Support System and Environmental Protection: The armor could be completely sealed for operations in vacuum or underwater, providing its own life support. It was also shielded against radiation. 
      The armor was shown to be capable of operating underwater, was resistant to water damage, and displayed no sign of faults once submerged underwater; however, many earlier suits were not designed for space travel. Most of Iron Man's later armor systems were capable of space and underwater travel.
    <br>
    <br>
      Heads Up Display (HUD): The Heads-Up display showed important things for the suit. The Heads Up Display of the Iron Man suit was powered by F.R.I.D.A.Y., Stark's artificial intelligence. 
      The Suit also had Defensive and Offensive sections, able to switch around the sections, resorting to missiles and lasers. The HUD could also be talked to, and F.R.I.D.A.Y. would reply to it. 
      The HUD could scan people, missile identifications, make calls, and give crucial suit credentials such as power. The HUD also had navigational (GPS) support. 
      The suit also had radio capabilities, shown by Tony Stark talking to the Avengers as well as Nick Fury and Maria Hill at the S.H.I.E.L.D. Helicarrier.
    <br>
    <br>
      Armor Summoning: Thanks to the new repulsor flight system, as well as the magnetic implants embedded in Tony's forearms, individual pieces of later armors could self-assemble themselves onto Tony or others. Tony was able to remotely summon the Mark XLII to Pepper for her to wear after his home was attacked by the Mandarin's forces. 
      Tony summoned the Iron Legion to fight against Aldrich's Extremis soldiers at the oil drilling platform. In a failed attempt to kill Aldrich Killian, Stark forced Killian into a suit that would then self-destruct. 
      He was also able to use this to summon the gauntlet of the Mark XLIII to pick up Loki's Scepter, and also once more, along with a chest piece, to defend himself against Captain America's attack during the creation of Vision.
    <br>
    <br>
      Mini Thrusters: Iron Man could summon small circular thrusters that could open up and attach to a surface to aid Iron Man in difficult situations. This was shown when he summoned thrusters with Iron Man Armor: Mark XLVII to assist him in repairing the ferry that Spider-Man failed to save.
    <br>
    <br>
      EMP Projectiles: At the beginning of the Clash of the Avengers, Iron Man launched a device that emitted an electromagnetic pulse on a helicopter that prevented Captain America and Winter Soldier from escaping with it. The device disrupted and disabled the helicopter's machinery.
    <br>
    <br>
      Powered Clamps: Tony could launch two disc-like projectiles consecutively with retractable metal fibers that could form a powered clamp to bind enemies. It was powerful enough to bind the legs of Captain America.</P>