
/* Add color, font, centered, and removed margin top for all p elements */
p {
text-align: center;
margin-top: 0px;
color: #EAB948;
font-family: 'Marvel', sans-serif;
}

/* Add color, font, and centered for all h1 element */
h1 {

text-align: center;
font-family: 'Marvel', sans-serif;
color: #E54510;

}
/* Add color, font, and centered for all h2 element */
h2 {

text-align: center;
font-family: 'Marvel', sans-serif;
color: #E54510;

}

/* Add color, font, and centered for all h3 element */
h3 {

text-align: center;
font-family: 'Marvel', sans-serif;
color: #E54510;

}
/* Add a background, hide side extra space to right of website, and changed font size for all body elements */
body {

background-color: #FBFFFE;
overflow-x: hidden;
font-size: 20px;
}
/* Add color to text for label */
label {

color: #EAB948;

}
/* Add centered text and have bullets next to text for all ul */
ul {
text-align: center;
list-style-position: inside;
}
/* Add background color and change font size for li a  */
li a {

background-color: #E54510;
font-size: 25px;

}
/* Add color to span element */
span {

color: #EAB948;
}
/* Adjust button when in mobile mode */
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: none;
}
/* Add border to navbar with color */
.nav>li>a {
border-style: solid;
border-color: #6B0504;

}
/* Resize logo */
.logo {

width: 250px;  
height: 200px; 

}
/* Add justify, centered, color, and font change to text for col1 */
.col1 {

text-align: justify;
text-align-last: center;
color: #EAB948;
font-family: 'Marvel', sans-serif;

}
/* Add center to text for id a */
#a {

text-align: center;

}
/* Add 0 margin to bottom of navbar */
.navbar {

margin-bottom: 0

}

/*Recent Posts Paragraph info */
.pb {
text-align: center;
margin-top: 0px;
color: #E54510;
font-family: 'Marvel', sans-serif;
}

.pi {
text-align: center;
margin-top: 0px;
color: #E54510;
font-family: 'Marvel', sans-serif;  
}

/*add background color and font to nav items */
.nav-item {
background-color: #E54510; 
color: #EAB948; 
font-weight: bolder; font-family: 'Marvel', sans-serif; 
font-size :25px;
}

/*add background color to buttons prev and next to see where it is */
.carousel-control-prev-icon {
  background-color: #EAB948;
}

.carousel-control-next-icon {
  background-color: #EAB948;
}

/*adds color to background indicators */
.carousel-indicators [data-bs-target] {
  background-color: #EAB948;
}

.btn-primary {
  color: #EAB948;
  background-color: #E54510;
  border-color: #E54510;
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112,124,155, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #E54510;
}

.col-md{
  text-align: center;
  padding-bottom: 10px;
}


