<!--Nav Bar for Website-->
<nav class="navbar navbar-expand-md" style = "background-color:#6B0504;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="Home" class="navbar-left"><img class="logo" src="images/mar.jpeg" style="max-width:100px; height:100px;" alt="Marvel Logo"></a>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" href="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="ironman">Iron Man</a></li>
      <li class="nav-item"><a class="nav-link" href="thor" style ="background-color: #E54510; color: #EAB948; font-weight: bolder; font-family: 'Gochi Hand', cursive; font-size :25px;">Thor</a></li>
      <li class="nav-item"><a class="nav-link" href="captainamerica">Captain America</a></li>
      <li class="nav-item"><a class="nav-link" href="hulk">Hulk</a></li>
      <li class="nav-item"><a class="nav-link" href="blackwidow">Black Window</a></li>
      <li class="nav-item"><a class="nav-link" href="hawkeye">Hawk Eye</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--Nav Bar ends- -->

<!--Countainer holding columns and rows-->
  <div class="countainer">

<!-- Biography of Thor -->
      <div class ="row">

       <div class="col-md-12"><img src = "images/thorp.jpeg" width = 100% alt= "Thor">
    <h1>Thor</h1>
    <p>All info provided by <a href="https://marvelcinematicuniverse.fandom.com">Marvel Cinematic Universe</a></p>

    <h3>Background</h3>

    <p>Thor had an idyllic childhood, brought up in Asgard as the most treasured son of Odin and his wife Frigga. His best friend and playmate was his adopted brother Loki, and though the brothers were both rivals for their father's throne, they still remained close companions.
       Loki was taught magic by their mother, while Thor was taught how to be a warrior by their father. During his youth, Thor fostered a strong desire to join the Valkyrie until he learned they were an elite group of female-only soldiers.
    <br>
    <br>
      As Thor and Loki grew up together, Loki developed a taste for mischief and magic, as he had been taught by Frigga. Thor was once tricked by his brother when Loki transformed himself into a snake, knowing that Thor loved snakes. 
      Upon picking up the snake, Thor was surprised as Loki turned back to himself and stabbed his brother, although Thor survived. In another instance, Loki transformed Thor into a frog for a brief time.
    <br>
    <br>
      Brought up within the warrior culture of the Asgardians, Thor valued strength, courage, and loyalty above all else. He had desired to be exactly like his own father, Odin, the war hero who had defeated Laufey during the Asgard-Jotunheim War and brought peace across all the Nine Realms. 
      To help him become a warrior, Thor received the powerful hammer, Mjølnir to be his companion when he became king, helping him to focus his ability to control thunder.
    <br>
    <br>
      Thor often remarked on the monsters, such as the Frost Giants, he would slay and the wars he would win once he was king, although Odin attempted to teach him to value peace above war while dealing with all of their enemies. As both Thor and Loki insisted that they would both be ready to become King of Asgard, Odin noted that only one of them would be able to take the throne. 
      Over the years, Thor was groomed by Odin to become King, leaving Loki jealous.</p>
    
    <h3>Personality</h3>

    <p>Before his banishment to Earth, Thor was initially conceited, arrogant, immature and stubborn. He had proven to be bloodthirsty and enjoyed the challenge of battle and combat, Laufey even states on Johutenheim that he craved war, with the Frost Giants in particular, due to being Odin's own wars with them convincing him that they were vicious monsters. 
      This bloodlust began as early as his childhood, with Thor then jesting that he'll hunt down the Frost Giants and slay them all if he becomes king. His adoptive brother Loki even comments that Thor would have killed the entire race of Frost Giants with his bare hands as an adult. 
      However, it should be noted that Thor still had some honorable traits, as he notably supported his friend Sif in her goals to become a great warrior, while most others would not take her seriously. In his heart, he only wishes to live up to the expectations of his father to become a great king but, in truth, he did have difficulty finding the difference between a ruler and a warrior and what makes each a good man.
    <br>
    <br>
      Thor was quick to anger and could act rashly to a situation such as when Asgard was broken into his first instinct was to attack the Johtuns to dissuade them to ever do a similar stunt again. Later on, he, Sif and the Warriors Three launched an all-out attack on Jotunheim, ignoring the fact that they'd be sorely outnumbered which seems to stem from arrogance, although at the time he only went to achieve answers on how they infiltrated Asgard. 
      When the Frost Giants had ruined his coronation, he reacted by angrily flipping over a table and finally when he was later insulted by a Frost Giant on Jotunheim, Thor reacts by promptly decapitating the former with Mjølnir and started a fight with the other Frost Giants.</p>
    
    <h3>Superpowers</h3>

    <p>Asgardian Physiology: As an Asgardian, Thor possesses incredible supernatural powers and superhuman attributes far surpassing many other Asgardians, with only his father and older sister being his superior in power. 
    <br>
    <br>
      Superhuman Strength: As an Asgardian, specifically the son of Odin, Thor is the third strongest Asgardian of his time, surpassed only by Odin and Hela, and with their deaths, he is now the strongest Asgardian alive. His incredible high-level of superhuman strength enables him to easily overpower hordes of Humans, Enhanced Humans, Asgardians, Frost Giants, Chitauri, Marauders, Dark Elves, Ultron Sentries, Outriders and various other species within or beyond the Nine Realms.
    <br>
    <br>
      Superhuman Durability: Thor's skin, muscle, and bone tissue have many times the density of the same tissue in the body of a human being and is nigh-invulnerable, much more so than regular Asgardians to the point that Gamora claimed that Thor's muscles felt as if they were "made of Cotati metal fibers". Even when he was stripped of his powers, Thor was still amazingly resilient due to his dense body, withstanding being hit by a van with ease, and only being seemingly killed by a punch from the Destroyer.
    <br>
    <br>
      Superhuman Speed: Thor can move at great superhuman speeds. Thor tackled Hulk through the wall of a Helicarrier in a split second, visibly appearing as a blur. He also proves capable of overwhelming Hulk in hand-to-hand combat during their second fight, able to easily dodge his feral attacks and land his own blows and get a grip on him.
    <br>
    <br>
      Superhuman Reflexes: Thor can react and dodge objects traveling at high speeds, with him dodging many of Hulk's blows during the Contest of Champions and he was able to blast away swords thrown by Hela as soon as they were sent flying towards him. He was also able to dodge intense Odinforce beams from the Destroyer and deflect them with his hammer.</p>
    